
<!-- <button (click)="menu = 1" class="btn btn-dark mx-1">Databinding</button>
<button (click)="menu = 2" class="btn btn-dark mx-1">Directives</button>
<button (click)="menu = 3" class="btn btn-dark mx-1">Directives Assignment1</button>
<button (click)="menu = 4" class="btn btn-dark mx-1">Pagination Assignment1</button>
<button (click)="menu = 5" class="btn btn-dark mx-1">EmployeeCRUD</button>
<button (click)="menu = 6" class="btn btn-dark mx-1">PipesDemo</button>

@switch (menu) {
@case (1) {<app-databinding></app-databinding>}
@case (2) {<app-directives></app-directives>}
@case (3) {<app-directives-assignment1></app-directives-assignment1>}
@case (4) {<app-pagination-assignement></app-pagination-assignement>}
@case (5) {<app-employee-crud></app-employee-crud>}
@case (6) {<app-pipesdemo></app-pipesdemo>}

@default {<h5>This Body Page</h5>}

} -->

<!-- <app-databinding></app-databinding> -->
<!-- <app-directives></app-directives> -->
<!-- <app-directives-assignment1></app-directives-assignment1> -->
<!-- <app-pagination-assignement></app-pagination-assignement> -->
<!-- <app-employee-crud></app-employee-crud> -->
<!-- <app-pipesdemo></app-pipesdemo> -->
 <!-- <app-pipes></app-pipes> -->
  <app-parent></app-parent>

<br />